@import "./normalize.css";

@font-face {
    font-family: "Montserrat Regular";
    src:
        local("Montserrat-Regular"),
        url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-display: swap;
}

$font: "Montserrat Regular", sans-serif;

$bg: #ffffff;
$light-font: #ffffff;
$dark-font: #212121;
$flavour: #015599;

@mixin transition {
    transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
}

@mixin no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin light-background($light-theme: true) {
    background: rgba($flavour, 0.4);
    -webkit-box-shadow: 0px 4px 20px -11px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 4px 20px -11px rgba(66, 68, 90, 1);
    box-shadow: 0px 4px 20px -11px rgba(66, 68, 90, 1);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

html,
body {
    width: 100%;
    height: 100vh;
    color: $dark-font;
    background-color: $bg;
    font-family: $font;
}

#root {
    z-index: 1;
    position: relative;
    min-height: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
}
.flex-column {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
.full-width {
    width: 100%;
}

.h-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    li {
        position: relative;
        display: block;
    }
}

a {
    outline: none;
    text-decoration: none;
    color: $bg;
    @include transition();
    &:hover {
        @include transition();
    }
}

.btn-function {
    cursor: pointer;
    background-color: $flavour;
    color: $light-font;
    width: 90%;
    height: 49.6px;
    border: none;
    outline: none;
    padding: 0;
    @include transition();
    @include no-select();
    &:hover {
        @include transition();
        background: rgba($flavour, 0.7);
    }
}

.interactive {
    padding: 3px;
    @include transition();
    &:hover {
        @include transition();
        background-color: $flavour;
    }

    svg {
        display: block;
        margin: 0 auto;
        cursor: pointer;
    }
}

.main-container {
    z-index: 1;
    position: relative;
    height: 100%;

    header {
        height: 50px;
        position: sticky;
        top: 0;
        background: rgba($flavour, 0.6);
        border-bottom: 2px solid $flavour;
        z-index: 1;

        .nav {
            margin: 0 auto;
            max-width: 950px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            column-gap: 1rem;

            h2 {
                padding: 0 10px;
                height: 100%;
                @include no-select();
                button {
                    display: flex;
                    align-items: center;
                    background: none;
                    height: 100%;
                    width: 100%;
                }
            }

            .search {
                position: relative;
                @include no-select();
                input {
                    height: 49.6px;
                    width: 222px;
                    padding: 5px 10px;
                    outline: none;
                    border: none;
                    background: rgba($flavour, 0.5);
                    font-size: 14px;
                    color: $bg;
                    @include transition();
                    &::placeholder {
                        color: $bg;
                        opacity: 0.8;
                    }

                    &::-ms-input-placeholder {
                        color: $bg;
                    }

                    &:hover,
                    &:focus {
                        @include transition();
                        background: rgba($flavour, 0.7);
                    }
                }
                button {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    left: 97%;
                    width: 45px;
                    font-size: 1.2rem;
                    color: darken($color: $bg, $amount: 15);
                    svg {
                        @include transition();
                    }
                    &:hover {
                        @include transition();
                        background: $flavour;
                        svg {
                            @include transition();
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }

    .header.scrolling {
        z-index: 1;
        background: lighten($flavour, 20);
    }

    .content-wrapper {
        height: calc(100%);
        margin: 0 auto;
        max-width: 1150px;
        .content {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 50px 25px;
            margin-bottom: 5rem;

            .loading {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 70vh;
            }

            .title {
                display: flex;
                height: 45px;
                align-items: center;
                column-gap: 0.5rem;
                padding: 35px 20px;
                @include light-background();
            }

            .book-container {
                flex-wrap: wrap;

                .book-preview {
                    padding: 10px;
                    width: 212px;
                    height: 300px;
                    color: $dark-font;
                    @include transition();

                    .info {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        align-items: center;
                        text-align: center;
                        img {
                            width: 80%;
                            height: 195px;
                            // background-image: url("../../../public/img404.jpg");
                            // background-position: center;
                            // background-repeat: no-repeat;
                            // background-size: 100% 100%;
                        }
                    }

                    &:hover {
                        @include transition();
                        cursor: pointer;
                        background: rgba($flavour, 0.2);
                    }
                }
            }
        }
    }
}

.pager {
    height: 30px;
    display: flex;
    padding: 35px 25px;
    justify-content: flex-end;
    align-items: center;
    column-gap: 1rem;
    .pager-info {
        margin-left: auto;
        font-weight: 500;
        font-size: 0.75rem;
    }
    .pager-button {
        @extend .btn-function;
        width: auto;
        padding: 0 7px;
        height: 30px;
        font-size: 0.8rem;
    }
}

@media (max-width: 640px) {
    .nav {
        justify-content: flex-start !important;
        h2 {
            font-size: 14px;
            button {
                width: 80px !important;
            }
        }
    }
    .main-container .content-wrapper .content .title {
        font-size: 1rem;
    }
    .pager {
        flex-direction: column;
        justify-content: center;
        row-gap: 1rem;
        .pager-info {
            margin: auto;
        }
    }
    .main-container .content-wrapper .content .book-container {
        justify-content: center;
        .book-preview {
            width: 44%;
        }
    }
}
